<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <title>Analytics</title>
</head>
<body>
    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item active"><a class="nav-link link-light" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link link-light" href="/admin">Admin</a></li>
        </ul>
        <h1>Analytics</h1>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>