{% extends 'base.html' %}

{% load crispy_forms_tags %}

**plot.html**

{% block content %}
    <div class="row">
        <form method="POST" id="plot-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Display</button>
        </form>
    </div>
    <div id="rate-plot" class="row">
    {% autoescape off %}
        {{ rate_plot_div }}
    {% endautoescape %}
    </div>
    <div class="row" id="scatterline-plot">
    {% autoescape off %}
        {{ scatterlines_div }}
    {% endautoescape %}
    </div>
    <div class="row" id="datapoints-plot">
    {% autoescape off %}
        {{ datapoints_div }}
    {% endautoescape %}
    </div>
    <script type="text/javascript">
    document.getElementById('rate-plot').querySelector('.js-plotly-plot').on("plotly_click", function(data) {
        console.log(document.getElementById('id_rate').value);
        console.log(data.points[0].x);
        document.getElementById('id_rate').value = data.points[0].x;
        document.getElementById('plot-form').submit();
    });

    if (document.getElementById('scatterline-plot').querySelector('.js-plotly-plot')) {
            document.getElementById('scatterline-plot').querySelector('.js-plotly-plot').on("plotly_click", function(data) {
            document.getElementById('id_statistic').value = data.points[0].customdata;
            document.getElementById('plot-form').submit();
        });
    }

    if (document.getElementById('datapoints-plot').querySelector('.js-plotly-plot')) {
        document.getElementById('datapoints-plot').querySelector('.js-plotly-plot').on("plotly_click", function(data) {
            const event_id = data.points[0].customdata[0];
            const event_type = data.points[0].customdata[1];
            if (event_id && event_type) {
                window.location.href = 'http://localhost/' + event_type + '/default/view/' + event_id;
            }
        });
    }
    </script>
{% endblock %}